name: deploy_to_firebase_hosting_test

on:
  push:
    branches:
    - master

jobs:
  deploy_to_firebase_hosting:

    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout the repository
        uses: actions/checkout@master
      
      - name: Deploy to Firebase
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only hosting --project ${{ secrets.FIREBASE_PROJECT_TEST }}
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
